git header {
    background: #333;
    color: #fff;
    padding: 1rem;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav a {
    color: #333;
    margin: 0 1rem;
    text-decoration: none;
  }
  
  nav .active {
    font-weight: bold;
  }
  
  footer {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  footer a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
  }

  .my-photo {
    border-radius: 50%;
    width: 250px;
    height: 250px;
  }